<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.juanma.customprotocol.CustomProtocol"
 name="CustomProtocol"
 description="An example of a custom protocol implementation allowing access to local resources."
 version="${project.nosnapshot.version}"
 vendor="Syncro Soft"
 class="com.juanma.customprotocol.CustomProtocolPlugin"
 classLoaderType="preferReferencedResources">
 <runtime>
        <library name="lib/${project.build.finalName}.jar"/>
 </runtime>
 
 <extension type="URLHandler" 
  class="com.juanma.customprotocol.CustomProtocolURLHandlerExtension"/>
 
 <extension type="URLChooser" 
  class="com.juanma.customprotocol.CustomProtocolChooserExtension"/>
 
 <extension type="URLChooserToolbar" 
  class="com.juanma.customprotocol.CustomProtocolChooserExtension"/>
 
</plugin>
